@model MVC_projekt.Models.BookItem

@{
    ViewBag.Title = @Resources.Global.Delete;
}

<h2>@Resources.Global.Delete</h2>

@if (ViewBag.Blad == true)
{
    <div class="alert alert-danger" role="alert">
        @Resources.Global.DeleteError
    </div>
}

<h3>@Resources.Global.DeleteConfirmation</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorGroups.Single(x => x.Author.FullName != null).Author.FullName)
        </dt>

        <dd>
            @foreach (var arg in Model.AuthorGroups)
            {
                @Html.DisplayFor(modelItem => arg.Author.FullName)
                <br />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descryption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descryption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

    </dl>
    &nbsp;
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Request.UrlReferrer" class="btn btn-primary">@Resources.Global.BackButton</a>
            <input type="submit" name="delete" value=@Resources.Global.Delete class="btn btn-danger col-md-offset-5" />
        </div>
    }
</div>
