@model MVC_projekt.Models.BookItemViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@if (ViewBag.Blad == true)
{
    <div class="alert alert-danger" role="alert">
         Wystąpił błąd podczas usuwania.<br/> Spróbuj ponownie.
    </div>
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BookItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Authors)
        </dt>
        @foreach (var author in Model.Authors)
        {
            <dd>
                @author.Surname

                @author.Name
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descryption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descryption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Labels)
        </dt>
        @foreach (var label in Model.Labels)
        {
            <dd>
                @label.Name
            </dd>
        }
    </dl>
    &nbsp;
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Request.UrlReferrer" class="btn btn-primary" title="Back to list">Back to list</a>
            <input type="submit" name="delete" value="Delete" class="btn btn-danger col-md-offset-5" />
        </div>
    }
</div>
