@using Microsoft.AspNet.Identity
@using MVC_projekt.Models
@model MVC_projekt.Models.BookItem

@{
    ViewBag.Title = Model.Title;
}

<link href="~/Content/lightbox.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/tabs.css" rel="stylesheet" />

<h2>@Resources.Global.Details</h2>

<div class="nav-tabs"></div>

<div class="row" style="margin-top: 10px">
    <div class="col-md-3" style="padding-left: 5%">
        @if (Model.Attachments.Any() && Model.Attachments.Single(x => x.Descryption.Equals("cover")) != null)
        {
            <a href=@Model.Attachments.Single(x => x.Descryption.Equals("cover")).Source data-lightbox="image-1">
                <img class="example-image" src=@Model.Attachments.Single(x => x.Descryption.Equals("cover")).Source alt=@Model.BookItemID width="200">
            </a>
        }
    </div>

    <div class="col-md-6">
        <table class="table-striped table-details" style="padding-top: 5%">
            <tr>
                <td style="text-align: right">
                    <b>
                        @Html.DisplayNameFor(model => model.Title):&emsp;
                    </b>
                </td>

                <td>
                    @Html.DisplayFor(model => model.Title)
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <b>
                        @Html.DisplayNameFor(model => model.AuthorGroups.Single(x => x.Author.FullName != null).Author.FullName):&emsp;
                    </b>
                </td>
                <td>
                    @foreach (var arg in Model.AuthorGroups)
                    {
                        @Html.DisplayFor(modelItem => arg.Author.FullName)
                        <br />
                    }
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <b>
                        @Html.DisplayNameFor(model => model.Publisher):&emsp;
                    </b>
                </td>

                <td>
                    @Html.DisplayFor(model => model.Publisher)
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <b>
                        @Html.DisplayNameFor(model => model.ReleaseDate):&emsp;
                    </b>
                </td>

                <td>
                    @Html.DisplayFor(model => model.ReleaseDate)
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <b>
                        @Html.DisplayNameFor(model => model.ISBN):&emsp;
                    </b>
                </td>

                <td>
                    @Html.DisplayFor(model => model.ISBN)
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <b>
                        @Html.DisplayNameFor(model => model.Category):&emsp;
                    </b>
                </td>

                <td>
                    @Html.DisplayFor(model => model.Category.Name)
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        @Html.DisplayNameFor(model => model.Number):&emsp;
                    </b>
                </td>

                <td>
                    @Html.DisplayFor(model => model.Number)
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="container" style="margin-top: 20px">
    <div class="row">
        <div style="padding-left: 5%; padding-right: 5%">
            <div class="card">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tabs-1" role="tab" data-toggle="tab">@Resources.Global.Descryption</a></li>
                    <li role="presentation"><a href="#tabs-2" role="tab" data-toggle="tab">@Resources.Global.Attachments</a></li>
                    <li role="presentation"><a href="#tabs-3" role="tab" data-toggle="tab">@Resources.Global.Availability</a></li>
                </ul>

                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="tabs-1">
                        <p>@Html.DisplayFor(model => model.Descryption)</p>
                    </div>

                    <div role="tabpanel" class="tab-pane " id="tabs-2">

                    </div>

                    <div role="tabpanel" class="tab-pane" id="tabs-3">
                        <div id="orderTab">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="row col-sm-12" style="margin-bottom: 15px">

                                    @Resources.Global.Available:

                                    <span class="badge">@ViewBag.Available</span>

                                    <span class="col-sm-offset-1">
                                        @if (Model.Orders.All(x => x.Returned) || (Model.Orders.Count(x => !x.Returned) < Model.Number))
                                        {
                                            <button type="button" id="addOrder" class="btn btn-default btn-sm">@Resources.Global.Order</button>
                                        }
                                    </span>
                                </div>
                            }

                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Orders.Single(x => x.OrderDate != null).OrderDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Orders.Single(x => x.AvailableOn != null).AvailableOn)
                                    </th>
                                    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                                    {
                                        <th>
                                            @Html.DisplayNameFor(model => model.Orders.Single(x => x.ApplicationUserID != null).ApplicationUser.UserName)
                                        </th>
                                        <th></th>
                                        <th></th>
                                    }
                                </tr>
                                @foreach (Order order in Model.Orders.Where(x => !x.Returned))
                                {
                                    <tr id="orderRow">
                                        <td>
                                            @Html.DisplayFor(modelItem => order.OrderDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => order.AvailableOn)
                                        </td>
                                        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => order.ApplicationUser.UserName)
                                            </td>
                                            <td id="oid">
                                                @Html.HiddenFor(modelItem => order.OrderID)
                                            </td>
                                            <td>
                                                <button type="button" id="returnOrder" class="btn btn-default btn-sm">@Resources.Global.Return</button>
                                            </td>
                                        }
                                    </tr>
                                }
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-tabs"></div>
    &nbsp;
<div>
    @Html.ActionLink(@Resources.Global.BackButton, "Index", null, new { @class = "btn btn-info" })
</div>

@section Scripts{
    <script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/lightbox-2.6.js")" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script>
        $(function() {
            $("#tabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
            $("#tabs li").removeClass("ui-corner-top").addClass("ui-corner-right");
        });

        $("#addOrder")
            .click(
                function() {
                    $.post("/BookItems/Order",
                        { id: @Model.BookItemID },
                        function() {
                            history.back();
                        });
                });

        $("#tabs-3").on("click", "button#returnOrder", function() {
            $.post("/BookItems/ReturnOrder",
                { id: $(this).closest("td").prev("#oid").find("#order_OrderID").val() },
                function() {
                    $(this).closest("tr").remove();
                    $("#orderTab").load("@Request.Url #orderTab");
                });
        });
    </script>

}
