@using PagedList.Mvc
@model PagedList.IPagedList<MVC_projekt.Models.BookItem>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}
<br/>
@Html.Partial("_SearchPartial")

@if (User.IsInRole("Admin") || User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink(@Resources.Global.Add, "Create", null, new { @class = "btn btn-warning" })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].AuthorGroups.Single(x=>x.Author.FullName != null).Author.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Category.Name)
        </th>
        <th></th>
        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
        {
            <th></th>
            <th></th>
        }
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @foreach (var arg in item.AuthorGroups)
                {
                    @Html.DisplayFor(modelItem => arg.Author.FullName)
                    <br/>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.ActionLink(@Resources.Global.Details, "Details", new { id = item.BookItemID }, new { @class = "btn btn-info" })
            </td>
            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
            {
                <td>
                    @Html.ActionLink(@Resources.Global.Edit, "Edit", new { id = item.BookItemID }, new { @class = "btn btn-default" })
                </td>
                <td>
                    @Html.ActionLink(@Resources.Global.Delete, "Delete", new { id = item.BookItemID }, new { @class = "btn btn-danger" })
                </td>
            }
        </tr>
    }

</table>

<div>
    <br />
    @Html.PagedListPager(Model, page => Url.Action("Index", "BookItems", new { page }))
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
</div>