@using MVC_projekt.Controllers
@using PagedList.Mvc
@model PagedList.IPagedList<MVC_projekt.Models.TitleViewModel>
@{
    ViewBag.Title = "Search";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Search Title</h2>

@Html.Partial("_SearchPartial")


@using (Html.BeginForm("Title", "BookItems", FormMethod.Get))
{
    <p>
        Find: @Html.TextBox("SearchString")
        <input type="submit" value="Search" name="submit" class="btn btn-default" />

    </p>
}
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Save search result", "Title", new { save = true }, new { @class = "btn btn-info" })
}
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Title)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
                @Html.ActionLink(item.BooksNumber.ToString(), "BooksTitle", new {id = item.Title}, new {@class = "badge"})
            </td>
        </tr>
    }

</table>

<div>
    <br />
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
</div>



