@model IEnumerable<MVC_projekt.Models.Fee>

@{
    ViewBag.Title = "FeeView";
}

<h2>Opłaty</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paid)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)

            </td>
            @*
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.FeeID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.FeeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.FeeID })
                </td>
            *@
        </tr>
    }

</table>
