@using MVC_projekt.Models
@model List<MVC_projekt.Models.BookItem>
@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/carousel.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Count(); i++)
            {
            <li data-target="#myCarousel" data-slide-to="@i" class="@(i == 0 ? "active" : string.Empty)"></li>
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @for (int i = 0; i < Model.Count(); i++)
            {
            <div class="item @(i == 0 ? "active" : string.Empty)">
                <div class="container">
                    <div class="col-lg-offset-2" style="padding-top: 20px">
                        @if (Model[i].Attachments.Any() && Model[i].Attachments.Single(x => x.FileType == FileType.Cover) != null)
                        {
                            <img src=@Url.Content(Model[i].Attachments.Single(x => x.FileType == FileType.Cover).Source) class="img-rounded" alt=@Model[i].BookItemID height="250">
                        }
                    </div>
                    <div class="carousel-caption col-lg-offset-2">
                        <h1 class="nowosc">Nowość!!</h1>
                        <h2>@Model[i].Title</h2>
                        <br/>
                        <p>
                            @Model[i].ShortDescryption
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<div class="jumbotron">
    <h1>Bogdaniec Library</h1>
    <p class="lead">Bogdaniec is new library in Bialystok University of Technologies. Here you can find books for every programmer. We also have books for normal people :)</p>
    <p>@Html.ActionLink("Our books", "Index", "BookItems", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>



<div class="row">
    <div class="col-md-4">
        <img src="http://www.gminaostroda.pl/images/stories/obrazki/blog_to_4217543_8045063_sz_ksiazka.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
    </div>
    <img src="http://www.tapeteos.pl/data/media/448/big/rozne_2880x1800_015_ksiazki.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Log in and enter the real world of magic</p>
        <p><a class="btn btn-default" href="/Account/Login">Log in &raquo;</a></p>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>