@model MVC_projekt.Models.News

@{
    ViewBag.Title = "Details";
}

<h2>@Global.Details</h2>

<div>
    <h4>@Global.News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descryption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descryption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Global.Edit, "Edit", new { id = Model.NewsID }) |
    @Html.ActionLink(Global.BackButton, "Index")
</p>
