@model MVC_projekt.Models.Label

@{
    ViewBag.Title = "Details";
}

<h2>@Global.Details</h2>

<div>
    <h4>@Global.Label</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(@Resources.Global.Edit, "Edit", new { id = Model.LabelID }, new { @class = "btn btn-default" })
    <a href="/Labels" class="btn btn-primary">@Resources.Global.BackButton</a>
</p>
