@model MVC_projekt.Models.BookItemViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookItem</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Authors)
        </dt>
        @foreach (var author in Model.Authors)
        {
            <dd>
                @author.Surname

                @author.Name
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descryption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descryption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Labels)
        </dt>
        @foreach (var label in Model.Labels)
        {
            <dd>
                @label.Name
            </dd>
        }
    </dl>
</div>
&nbsp;
<p>
    @Html.ActionLink("Back to List", "Books", new { id = ViewBag.AuthorId }, new {@class="btn btn-primary"})
    &emsp;
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID, authorID = ViewBag.AuthorId }, new {@class = "btn btn-warning"})
</p>
