@using MVC_projekt.Controllers
@using PagedList.Mvc
@model PagedList.IPagedList<MVC_projekt.Models.BookItemViewModel>
@{
    ViewBag.Title = "Search";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>

<h2>Search</h2>

@Html.ActionLink("Author", "Author", new { id = 1 }, new { @class = "btn btn-default" })
@*
    @Html.ActionLink("Title", "Title", new { id = 2 }, new { @class = "btn btn-default" })
    @Html.ActionLink("ISBN", "Isbn", new { id = 3 }, new { @class = "btn btn-default" })
    @Html.ActionLink("Category", "Category", new { id = 4 }, new { @class = "btn btn-default" })
    @Html.ActionLink("Label", "Label", new { id = 5 }, new { @class = "btn btn-default" })
*@


