@using MVC_projekt.Controllers
@using PagedList.Mvc
@model PagedList.IPagedList<MVC_projekt.Models.BookItemViewModel>
@{
    ViewBag.Title = @Resources.Global.Search;
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Search ISBN</h2>

@Html.Partial("_SearchPartial")


@using (Html.BeginForm("Isbn", "Search", FormMethod.Get))
{
    <p>
        Find: @Html.TextBox("SearchString")
        <input type="submit" value="@Resources.Global.Search" name="submit" class="btn btn-default" />

    </p>
}
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink(Resources.Global.SaveSearchButton, "Isbn", new { save = true }, new { @class = "btn btn-info" })
}
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Number)
        </th>
        <th></th>
        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
        {
            <th></th>
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableNumber)/
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.ActionLink(@Resources.Global.Details, "Details", "BookItems", new {id = item.ID}, new {@class = "btn btn-info"})
            </td>
            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                {
                <td>
                    @Html.ActionLink(@Resources.Global.Edit, "Edit", "BookItems", new { id = item.ID }, new { @class = "btn btn-default" })
                </td>
                    <td>
                        @Html.ActionLink(@Resources.Global.Delete, "Delete", "BookItems", new { id = item.ID }, new { @class = "btn btn-danger" })
                    </td>
            }
        </tr>
    }

</table>

<div>
    <br />
    @Html.PagedListPager(Model, page => Url.Action("Index", "BookItems", new { page }))
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
</div>



